<!DOCTYPE html>
<html>
  <head>
    <title>Simplestocks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://kit.fontawesome.com/afaa37ed15.js"></script>
    <%= favicon_link_tag asset_path('favicon.ico') %>
  <script type="text/javascript">
    window.signUpVideoURL = "<%= image_url('FirstExperienceStopwatchMovie.mp4') %>";
    window.dogeError = "<%= image_url('404.png') %>";
    window.loginImg = "<%= image_url('login_background.png') %>";
  </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>